.title {
    justify-content: center;
    align-items: center;

    p{
        color: #EAE9E5;
        font-size: 160px;
        font-weight: 600;
        margin: auto;
        line-height: 101.523%;
    }

}